3D adventure game taking place in my secondary school. You can choose any of my
classmates from a photo and you can discover the building, talk to our teachers
or the other students in the school.<br />
<br />
I was 2nd on the 19th National computer program product competition with this
game.

{% if include.summary == false %}
  <br />
  <br />
  <i>Comment</i>:
</p>
<p style='padding-left:10px;'>
  Because of the well implemented backward compatibility of Windows this game
  can not be played on Windows 2000, and Windows 98 compatibility mode has to be
  chosen on XP (right click on the icon of the game, Properites, Compatibility
  tab). It works fine on Windows 98, and has never been tested on Windows 95.
{% endif %}
