3D adventure game taking place in my secondary school. You can choose any of my
classmates from a photo and you can discover the building, talk to our teachers
or the other students in the school.<br />
<br />
I was 2nd on the 19th National computer program product competition with this
game.

{% if include.summary == false %}
  <br />
  <br />
  <i>Comment</i>:
</p>
<p style='padding-left:10px;'>
  Because of the well implemented backward compatibility of Windows this game
  can not be played on Windows 2000, and Windows 98 compatibility mode has to be
  chosen on XP (right click on the icon of the game, Properites, Compatibility
  tab). It works fine on Windows 98, and has never been tested on Windows 95.
</p>
<p>
  <i>Windows 10</i>:
</p>
<p style='padding-left:10px;'>
  On Windows 10 the game needs to be installed manually, because the installer
  can not be executed. The "<code>Extra\Manual Setup\Moricz3D</code>" folder
  with all files in it needs to be copied from the CD to the hard drive
  (eg. "<code>C:\Moricz3D</code>") and the "<code>DATA</code>" folder with all
  files in it needs to be copied from the CD into this folder
  (eg. "<code>C:\Moricz3D\DATA</code>"). The game can be started after that with
  the copied "<code>Moricz3D.exe</code>"
  (eg. "<code>C:\Moricz3D\Moricz3D.exe</code>").

  <p class='sima_alcim'>Videos</p>

  <p align='center'>
    <iframe
      width='490'
      height='368'
      src='https://www.youtube.com/embed/CZsEj-VC584'
      allowFullScreen
      frameBorder='0'
    >
    </iframe>
  </p>
{% endif %}
