<table width='100%' align='center' cellspacing='10px' cellpadding='0' border='0'>

<tr>
  <td class='mezo_nev' style='text-align:center'>
    <a href='http://pocketnotes.sinkovics.hu'>
      <img src='/images/pocketnotes/elokep.png' alt='' width='180px' height='240px' border='0' />
    </a>
  </td>
  <td class='mezo_ertek' style='padding-top: 5px;'><p
    style='text-align:center; font-weight:bold; font-size:20px; padding:0px; margin:0px;'>
      PocketNotes
    </p>
    <p>
      <b>Latest version: 0.4</b>
    </p>
    <p>
      This program turns your PDA into a note book.
      A few things the software supports:
    </p>
    <ul>
      <li>Pens with different width and color can be used</li>
      <li>Important details can be highlighted</li>
      <li>Different types of paper (blank, bhequered, etc.) can be used</li>
    </ul>
    <p style='text-align:right'>
      <a href='http://pocketnotes.sinkovics.hu'>Details</a><br />
      <a href='/download/PocketNotes_0.4.arm.CAB'>download</a>
    </p>
  </td>
</tr>

</table>

<p>
  If you make my software available from other sites please link to these files
  directly. Thanks.
</p>

<p>
  I used 
    <a href='http://www.microsoft.com/downloads/details.aspx?familyid=1DACDB3D-50D1-41B2-A107-FA75AE960856&amp;displaylang=en'>eMbedded Visual C++ 4.0</a>-val
  for development.
    <a href='http://www.microsoft.com/downloads/details.aspx?familyid=5BB36F3E-5B3D-419A-9610-2FE53815AE3B&amp;displaylang=en'>Service Pack 3</a>
  and
    <a href='http://www.microsoft.com/downloads/details.aspx?FamilyId=9996B314-0364-4623-9EDE-0B5FBB133652&amp;displaylang=en'>Window Mobile 2003 SDK</a>
  should also be installed.
</p>
