<p class='sima_alcim'><a href='http://boost.org/libs/metaparse'>Boost.Metaparse</a></p>
<table width='80%' align='center' border='0' cellspacing='0' cellpadding='5px'>
<tr>
  <td width='130px' style='text-align:center;vertical-align:top;'>&nbsp;</td>
  <td style='vertical-align:top'>
    C++ template metaprogramming library, which supports the development of
    parsers parsing strings at compile time.
  </td>
</tr>
</table>

<br />

<p class='sima_alcim'><a href='http://metashell.org'>Metashell</a></p>
<table width='80%' align='center' border='0' cellspacing='0' cellpadding='5px'>
<tr>
  <td width='130px' style='text-align:center;vertical-align:top;'><a href='http://metashell.org'><img src='/images/metashell.png' width='130px' alt='' border='0' /></a></td>
  <td style='vertical-align:top'>
    REPL shell and interactive debugger for C++ template metaprograms.
  </td>
</tr>
</table>

<br />

<p class='sima_alcim'><a href='http://github.com/sabel83/mpllibs'>mpllibs - C++ template metaprogramming library</a></p>
<table width='80%' align='center' border='0' cellspacing='0' cellpadding='5px'>
<tr>
  <td width='130px' style='text-align:center;vertical-align:top;'>&nbsp;</a></td>
  <td style='vertical-align:top'>
    C++ template metaprogramming libraries for embedding languages into C++ and
    for unit testing template metaprograms.
  </td>
</tr>
</table>

<br />

<p class='sima_alcim'><a href='http://pocketnotes.sinkovics.hu'>PocketNotes - software for taking notes</a></p>
<table width='80%' align='center' border='0' cellspacing='0' cellpadding='5px'>
<tr>
  <td width='130px' style='text-align:center;vertical-align:top;'><a href='http://pocketnotes.sinkovics.hu'><img src='/images/pocketnotes/pocketnotes.png' alt='' border='0' /></a></td>
  <td style='vertical-align:top'>
    An embedded software to take handwritten notes on PDAs.
    <a href='http://pocketnotes.sinkovics.hu'>Details</a> can be found on the
    software's website and the program can be
    <a href='/download/PocketNotes_0.4.arm.CAB'>downloaded</a>.
  </td>
</tr>
</table>

<br />

{% include references.html lang="en" %}
