<p class='sima_alcim'>Személyes adatok</p>
<ul class='sima_alaltorzs'>
  <li>Teljes név: <b>Sinkovics Ábel Gábor Ottó</b></li>
  <li>Születési év: 1983</li>
  <li>Honlap: <b><a href='http://abel.sinkovics.hu'>http://abel.sinkovics.hu</a></b></li>
  <li>Github: <b><a href='https://github.com/sabel83'>https://github.com/sabel83</a></b></li>
  <li>E-mail cím:
  <b><script type="text/javascript"><!--
    eval(unescape('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%61%62%65%6c%40%73%69%6e%6b%6f%76%69%63%73%2e%68%75%22%20%3e%61%62%65%6c%40%73%69%6e%6b%6f%76%69%63%73%2e%68%75%3c%2f%61%3e%27%29%3b'));
  --></script></b></li>
</ul>

<p class='sima_alcim'>Munkahelyek</p>
<ul class='sima_alaltorzs'>
  <li>2007 - <b>Morgan Stanley, IT</b></li>
</ul>

<p class='sima_alcim'>Tanulmányok</p>
<ul class='sima_alaltorzs'>
  <li>2009 - 2012 <b>Informatika Doktori Iskola</b> (Eötvös Loránd Tudományegyetem, Budapest)<br />
    Kutatási téma: <a href='/download/Sinkovics_Abel_Ertekezes.pdf'>A C++ template metaprogramozás és a funkcionális programozás kapcsolata</a>
  </li>
  <li>2012 <b>Erasmus félév</b> (Universität Leipzig, Leipzig)</li>
  <li>2007 <b>Morgan Stanley graduate programme</b> (Morgan Stanley, New York, London)</li>
  <li>2002 - 2008 <b>Programtervező matematikus szak</b> (Eötvös Loránd Tudományegyetem, Budapest)</li>
  <li>1996 - 2000 <b>Programozó tanfolyam</b> (Rend-Szám Bt., Budapest)</li>
</ul>

<p class='sima_alcim'>Programozási versenyek</p>
<ul class='sima_alaltorzs'>
  <li>Országos Programtermék Pályázat: <b>I. hely</b> 2000-ben, <b>V. hely</b> 2001-ben, <b>II. hely</b> 2002-ben.</li>
  <li>Nemes Tihamér Országos Középiskolai Számítástechnikai Tanulmányi Verseny: <b>24. hely</b> 2001-ben, <b>22. hely</b> 2002-ben.</li>
  <li>A Gábor Dénes főiskola által szervezett ABAKUSZ programozó verseny: <b>III. Hely</b> 2002-ben, fejlesztő kategóriában.</li>
</ul>

<p class='sima_alcim'>Aktívan használt programozási nyelvek</p>
<ul class='sima_alaltorzs'>
  <li><b>C++/template metaprogramok</b> (16 év)</li>
  <li><b>Python</b> (8 év)</li>
</ul>

<p class='sima_alcim'>Korábban aktívan használt programozási nyelvek</p>
<ul class='sima_alaltorzs'>
  <li><b>Erlang</b> (3 év)</li>
  <li><b>Java</b> (2 év)</li>
  <li><b>PHP</b> (3 év)</li>
  <li><b>Turbo Pascal/Delphi</b> (3 év)</li>
  <li><b>Clipper</b> (2 év)</li>
  <li><b>Quick Basic/Visual Basic</b> (8 év)</li>
</ul>

<p class='sima_alcim'>Szakmai gyakorlat</p>
<ul class='sima_alaltorzs'>
  <li>Nyílt forrású C++ fejlesztés:
    <ul class='sima_alaltorzs'>
      <li><a href='http://boost.org/libs/metaparse'>Boost.Metaparse</a></li>
      <li><a href='http://metashell.org'>Metashell</a></li>
      <li><a href='http://github.com/sabel83/mpllibs'>Mpllibs</a></li>
    </ul>
  </li>
  <li>Alkalmazások fejlesztése Linux, Windows, Windows Mobile platformokra</li>
  <li>Dinamikus könyvtárak fejlesztése Linux, Windows, Windows Mobile platformokra</li>
  <li>C/C++ alkalmazások portolása (Windows és Linux között, mindkét irányba)</li>
  <li>Többszálú programok fejlesztése</li>
  <li>Elosztott alkalmazások fejlesztése</li>
</ul>

<p class='sima_alcim'>Nyelvek</p>
<ul class='sima_alaltorzs'>
  <li>Magyar - anyanyelv</li>
  <li>Angol - középfok</li>
  <li>Német - középfok</li>
</ul>

<p class='sima_alcim'>Egyéb</p>
<p class='sima_alaltorzs'>
  Kapcsolódó oldal: <a href='/references'>Referenciák</a>.<br />
</p>
