3 dimenziós megjelenítést használó kaland játék, mely a gimnáziumban játszódik
ahova jártam. Az osztályfényképről ki lehet választani valamelyik
osztálytársamat és be lehet vele barangolni az épületet, lehet beszélgetni a
tanárainkkal vagy a többi diákkal az épületben.<br />
<br />
A játékkal a XIX. Országos Számítógépes Programtermék Pályázaton II. helyezést
értem el.

{% if include.summary == false %}
  <br />
  <br />
  <i>Megjegyzés</i>:
</p>
<p style='padding-left:10px;'>
  A Windows verziók kíváló lefelé kompatibilitásának köszönhetően Windows 2000
  alatt nem fut a játék, XP alatt akkor lehet elindítani ha beállítjuk a Windows
  98 kompatibilitási módot (Jobb klikk az ikonra, Tulajdonságok, az megjelenő
  ablakban Kompatibilitás fül). (98 alatt gond nélkül működik, 95 és Me alatt
  még sosem próbáltam elindítani)
</p>
<p>
  <i>Windows 10</i>:
</p>
<p style='padding-left:10px;'>
  Windows 10 alatt a játékot kézzel kell telepíteni, mert a telepítőt nem lehet
  elindítani. Az "<code>Extra\Manual Setup\Moricz3D</code>" mappát a benne
  található fájlokkal együtt a CD-ről át kell másolni a merevlemezre
  (pl. "<code>C:\Moricz3D</code>") és a "<code>DATA</code>" mappát a benne
  található fájlokkal együtt a CD-ről át kell másolni ebbe a mappába.
  (pl. "<code>C:\Moricz3D\DATA</code>"). Ezek után a lemásolt
  "<code>Moricz3D.exe</code>" segítségével
  (pl. "<code>C:\Moricz3D\Moricz3D.exe</code>") el lehet indítani a játékot.

  <p class='sima_alcim'>Videók</p>

  <p align='center'>
    <iframe
      width='490'
      height='368'
      src='https://www.youtube.com/embed/CZsEj-VC584'
      allowFullScreen
      frameBorder='0'
    >
    </iframe>
  </p>
{% endif %}
