<p class='sima_alcim'>Leírás</p>
<table align='center' border='0' cellspacing='10px' cellpadding='0'>
<tr>
  <td style='vertical-align:top;'>
    <a href='/images/nevnap/ss.png' target='_blank'><img src='/images/nevnap/ss.png' alt='' width='240px' height='320px' border='0' /></a>
  </td>
  <td style='vertical-align:top;'>
    Ha telepítjük a programot, megjelenik egy új elem a Today képernyőn
    (az alap képernyőn, lásd a mellékelt ábrán), mely megjeleníti hogy
    milyen névnap volt tegnap, milyen van ma, illetve milyen lesz holnap.<br />
    <br />
    Rengeteg keresgéltem a neten egy olyan programot, ami nem csinál mást,
    mint megjeleníti hogy éppen milyen névnap van (és milyen várható, illetve
    kit felejtettem el tegnap felköszönteni :)). Mivel hosszas és kitartó
    keresgélés eredményeképpen semmit sem találtam, úgy döntöttem írok magam
    egyet, hiszen nem egy túl bonyolult programról van szó... :)<br />
    <br />
    Hasznos lehet a program forráskódját megnézni annak aki még nem írt Today
    plugint, de szeretne.<br />
    <br />
    A honlapon a bal-felső sarokban kiírja az aktuális névnapot, mely természetesen
    ugyanazt az "adatbázist" használja mint a program. (Külön is le lehet tölteni
    a fájlt lejjeb, nem kell a programból kibányászni :)) Ha esetleg hibás, szívesen
    veszek erről egy <a href='/contact'>értesítést</a> valamilyen formában.
    Részletes <a href='/nevnap_info'>leírás</a> is megtekinthető az adatbázisról.
  </td>
</tr>
</table>

<p class='sima_alcim'>Követelmények, támogatás</p>
<table align='center' border='0' cellspacing='10px' cellpadding='0' width='80%'>

<tr>
  <td class='mezo_nev'>Processzor</td>
  <td class='mezo_ertek' style='text-align:right'>ARM</td>
</tr>

<tr>
  <td class='mezo_nev'>Operációs rendszer</td>
  <td class='mezo_ertek' style='text-align:right'>Window Mobile 2002 vagy újabb (WM&nbsp;2003, WM&nbsp;5)</td>
</tr>

<tr>
  <td class='mezo_nev'>Felbontás</td>
  <td class='mezo_ertek' style='text-align:right'>240x320 (QVGA)<br/> 480x640 (VGA)</td>
</tr>

<tr>
  <td class='mezo_nev'>Nyelvek</td>
  <td class='mezo_ertek' style='text-align:right'>Magyar</td>
</tr>

</table>


<p class='sima_alcim'>Telepítés</p>
<p class='sima_alalcim'>Telepítés közvetlenül a PDA-ra</p>
<p class='sima_alaltorzs'>
  Indítsuk el a PDA-n az Internet Explorert, majd töltsük le a legfrissebb változat
  telepítőjét a készülékre. A feltett kérdésre igennel (yes) válaszoljunk. Telepítés
  után újra kell indítani a készüléket (soft reset-et kell végrehajtani).
</p>

<p class='sima_alalcim'>Telepítés Windowsos asztali számítógép segítségével</p>
<p class='sima_alaltorzs'>
  Töltsük le a legfrissebb változat telepítőjét, másoljuk fel a készülékre (például a
  Microsoft ActiveSync segítségével), majd a File Explorer segítségével nyissuk meg a
  filet. Telepítés után újra kell indítani a készüléket (soft reset-et kell
  végrehajtani).
</p>

<p class='sima_alalcim'>A program beállítása</p>
<p class='sima_alaltorzs'>
  A programot a többi Today elemhez hasonló módon tudjuk beállítani. A Settings menü
  Today pontját kiválasztva érhetjük el a Today képernyőre vonatkozó beállításokat.
  Itt az Items fület kell kiválasztani, ahol egy listában fel vannak sorolva a Today
  képernyőn szereplő (vagy ott megjeleníthető csak éppen elrejtett) elemek. Egy elem
  akkor látható ha a mellett lévő jelölőnégyzet ki van pipálva. Ha egy elem nevére
  kattintunk, a MoveUp és MoveDown gombokkal vihetjük feljebb vagy lejjeb a Today
  képernyőn.
</p>

<p class='sima_alalcim'>A program eltávolítása</p>
<p class='sima_alaltorzs'>
  A Settings menüben a System fület kell kiválasztani, melyen található egy Remove
  Programs ikon. Ezt kiválasztva megjelenik egy lista a telepített programokról.
  Ezek között megtalálhatjuk az AbelSoft Nevnap-t, melyet ki kell választani, majd
  a Remove gomb segítségével el lehet távolítani a készülékről.
</p>


<p class='sima_alcim'>További tervek</p>
<p class='sima_alaltorzs'>
  A programot használom. Célja az volt hogy egyszerű legyen és kicsi.
  Esetlegesen olyan beállítási lehetőségekkel bővítem majd hogy hány napra előre ill.
  hátra jelenítse meg a névnapokat. De nem ígérek semmit... :)
</p>


<p class='sima_alcim'>Letöltés</p>

{%
  include download_table.html
  items=site.data.downloads.nevnap
  lang="hu"
%}

<p style='text-align:center'>
  <br />
  <a href='/pda'>Visszatérés a PDA-król szóló oldalra</a>
</p>
