<table width='100%' align='center' cellspacing='10px' cellpadding='0' border='0'>

<tr>
  <td class='mezo_nev' style='text-align:center'>
    <a href='/nevnap'>
      <img src='/images/nevnap/elokep.png' alt='' width='180px' height='240px' border='0' />
    </a>
  </td>
  <td class='mezo_ertek' style='padding-top: 5px;'><p
    style='text-align:center; font-weight:bold; font-size:20px; padding:0px; margin:0px;'>
      Névnap
    </p>
    <p>
      <b>Legfrissebb változat: 0.1</b>
    </p>
    <p>
      Ha telepítjük a programot, megjelenik egy új elem a
      Today képernyőn (az alap képernyőn, lásd a mellékelt
      ábrán), mely megjeleníti hogy milyen névnap volt
      tegnap, milyen van ma, illetve milyen lesz holnap.
      <br />
      <br />
    </p>
    <p style='text-align:right'>
      <a href='/nevnap'>Részletek</a><br />
      <a href='/download/Nevnap_0.1.arm.CAB'>Letöltés</a>
    </p>
  </td>
</tr>

<tr>
  <td class='mezo_nev' style='text-align:center'>
    <a href='http://pocketnotes.sinkovics.hu'>
      <img src='/images/pocketnotes/elokep.png' alt='' width='180px' height='240px' border='0' />
    </a>
  </td>
  <td class='mezo_ertek' style='padding-top: 5px;'><p
    style='text-align:center; font-weight:bold; font-size:20px; padding:0px; margin:0px;'>
      PocketNotes
    </p>
    <p>
      <b>Legfrissebb változat: 0.4</b>
    </p>
    <p>
      A programmal jegyzetfüzetté varázsolhatjuk PDA-nkat.
      Ízelítő a lehetőségeinkből:
    </p>
    <ul>
      <li>Különböző színű és vastagságú tollakat használhatunk</li>
      <li>Szövegkiemelővel felhívhatjuk a figyelmet a fontosabb részletekre</li>
      <li>Írhatunk többféle papírra (üres, négyzetrácsos, stb.)</li>
    </ul>
    <p style='text-align:right'>
      <a href='http://pocketnotes.sinkovics.hu'>Részletek</a><br />
      <a href='/download/PocketNotes_0.4.arm.CAB'>Letöltés</a>
    </p>
  </td>
</tr>

</table>

<p>
  Hogyha más oldalról is letölthetővé szeretnéd tenni a programjaimat megkérlek rá,
  hogy az itteni fájlokra mutasson a "letöltés" link. Köszönöm.
</p>

<p>
  A programokat
    <a href='http://www.microsoft.com/downloads/details.aspx?familyid=1DACDB3D-50D1-41B2-A107-FA75AE960856&amp;displaylang=en'>eMbedded Visual C++ 4.0</a>-val
  készítem. Javallott a
    <a href='http://www.microsoft.com/downloads/details.aspx?familyid=5BB36F3E-5B3D-419A-9610-2FE53815AE3B&amp;displaylang=en'>Service Pack 3</a>
  és a
    <a href='http://www.microsoft.com/downloads/details.aspx?FamilyId=9996B314-0364-4623-9EDE-0B5FBB133652&amp;displaylang=en'>Window Mobile 2003 SDK</a>
  telepítése.
</p>
