<p class='sima_alcim'>Personalien</p>
<ul class='sima_alaltorzs'>
  <li>Name: <b>Sinkovics, Ábel Gábor Ottó</b></li>
  <li>Geburtsjahr: 1983</li>
  <li>Homepage: <b><a href='http://abel.sinkovics.hu'>http://abel.sinkovics.hu</a></b></li>
  <li>Github: <b><a href='https://github.com/sabel83'>https://github.com/sabel83</a></b></li>
  <li>E-Mailaddresse: <b><script type="text/javascript"><!--
    eval(unescape('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%61%62%65%6c%40%73%69%6e%6b%6f%76%69%63%73%2e%68%75%22%20%3e%61%62%65%6c%40%73%69%6e%6b%6f%76%69%63%73%2e%68%75%3c%2f%61%3e%27%29%3b'));
  --></script></b></li>
</ul>

<p class='sima_alcim'>Beruflicher Werdegang</p>
<ul class='sima_alaltorzs'>
  <li>2007 - &nbsp;&nbsp;&nbsp;&nbsp; <b>Morgan Stanley, Programmierer</b></li>
</ul>

<p class='sima_alcim'>Ausbildungen</p>
<ul class='sima_alaltorzs'>
  <li>2009 - 2012 <b>Informatik Doktorschule</b> (Eötvös Loránd Universität, Budapest)<br />
    Forschungsthema: <a href='/download/Sinkovics_Abel_Ertekezes.pdf'>Die Verbindung zwischen C++-Template-Metaprogrammierung und funktionalen Programmierung</a>
  </li>
  <li>2012 <b>Erasmus-Semester</b> (Universität Leipzig, Leipzig)</li>
  <li>2007 <b>Morgan Stanley Graduiertenprogramm</b> (Morgan Stanley, New York, London)</li>
  <li>2002 - 2008 <b>Programmierer mit mathematischen Kentnissen</b> (Eötvös Loránd Universität, Budapest)</li>
  <li>1996 - 2000 <b>Programmierkurs</b> (Rend-Szám Bt., Budapest)</li>
</ul>

<p class='sima_alcim'>Programmierwettbewerbe</p>
<ul class='sima_alaltorzs'>
  <li>Nationaler Wettbewerb für Software-Produkte: <b>I. Platz</b> im Jahr 2000, <b>V. Platz</b> im Jahr 2001, <b>II. Platz</b> im Jahr 2002.</li>
  <li>Nemes Tihamér Nationaler Informatik-Wettbewerb für Gymnasien: <b>24. Platz</b> im Jahr 2001, <b>22. Platz</b> im Jahr 2002.</li>
  <li>ABAKUSZ Programmierwettbewerb der Gábor Dénes Hochschule: <b>III. Platz</b> im Jahr 2002 in der Kategorie Entwicklung</li>
</ul>

<p class='sima_alcim'>Programmiersprachen, die ich zurzeit benutze</p>
<ul class='sima_alaltorzs'>
  <li><b>C++/Template-Metaprogrammierung</b> (seit 16 Jahren)</li>
  <li><b>Python</b> (seit 8 Jaren)</li>
</ul>

<p class='sima_alcim'>Programmiersprachen, die ich früher benutzte</p>
<ul class='sima_alaltorzs'>
  <li><b>Erlang</b> (3 Jahre)</li>
  <li><b>Java</b> (2 Jahre)</li>
  <li><b>PHP</b> (3 Jahre)</li>
  <li><b>Turbo Pascal/Delphi</b> (3 Jahre)</li>
  <li><b>Clipper</b> (2 Jahre)</li>
  <li><b>Quick Basic/Visual Basic</b> (8 Jahre)</li>
</ul>

<p class='sima_alcim'>Berufliche Erfahrungen</p>
<ul class='sima_alaltorzs'>
  <li>Open source C++ Entwicklung:
    <ul class='sima_alaltorzs'>
      <li><a href='http://boost.org/libs/metaparse'>Boost.Metaparse</a></li>
      <li><a href='http://metashell.org'>Metashell</a></li>
      <li><a href='http://github.com/sabel83/mpllibs'>Mpllibs</a></li>
    </ul>
  </li>
  <li>Entwicklung von Anwendungen und Bibliotheken unter Linux, Windows und Windows Mobile</li>
  <li>Portierung von C/C++-Anwendungen von Windows nach Linux und umgekehrt</li>
  <li>Entwicklung von Multi-Prozess-Anwendungen</li>
  <li>Entwicklung verteilter Anwendungen</li>
</ul>

<p class='sima_alcim'>Sprachkenntnisse</p>
<ul class='sima_alaltorzs'>
  <li>Ungarisch - Muttersprache</li>
  <li>Englisch - Fortgeschrittene Kenntnisse</li>
  <li>Deutsch - Fortgeschrittene Kenntnisse</li>
</ul>
