Ein 3D-Computerspiel, das im Gymnasium, wo ich gelernt habe, stattfindet.
Sie können eine meiner Klassenkameraden auswählen, um in der Schule
zu wandern oder mit den Lehrern und anderen Schülern zu plaudern.<br />
<br />
Bei dem nationalen Wettbewerb für Software-Produkte habe ich mit diesem
Spiel den II. Platz erhalten.

{% if include.summary == false %}
  <br />
  <br />
  <i>Anmerkung</i>:
</p>
<p style='padding-left:10px;'>
  Wegen Windows-Abwärtskompatibilitäts-Problemen kann das Spiel unter Windows
  2000 nicht gespielt werden. Unter Windows XP muss Windows-98-Kompatibilität
  eingeschaltet werden (Rechtsklick auf das Icon des Programms, Eigenschaften,
  Kompatibilität).
</p>
<p>
  <i>Windows 10</i>:
</p>
<p style='padding-left:10px;'>
  Unter Windows 10 muss das Spiel manuell installiert werden, weil das Installer
  nicht ausgeführt werden kann. Der "<code>Extra\Manual Setup\Moricz3D</code>"
  Ordner mit allen Dateien soll vom CD zur Festplatte kopiert werden
  (z.B. "<code>C:\Moricz3D</code>") und der "<code>DATA</code>" Ordner mit
  allen Dateien soll auch vom CD in dieser Ordner kopiert werden
  (z.B. "<code>C:\Moricz3D\DATA</code>"). Danach kann das Spiel mit dem
  gekopierten "<code>Moricz3D.exe</code>"
  (z.B. "<code>C:\Moricz3D\Moricz3D.exe</code>") gestartet werden.

  <p class='sima_alcim'>Videos</p>

  <p align='center'>
    <iframe
      width='490'
      height='368'
      src='https://www.youtube.com/embed/CZsEj-VC584'
      allowFullScreen
      frameBorder='0'
    >
    </iframe>
  </p>
{% endif %}
