Ein 3D-Computerspiel, das im Gymnasium, wo ich gelernt habe, stattfindet.
Sie können eine meiner Klassenkameraden auswählen, um in der Schule
zu wandern oder mit den Lehrern und anderen Schülern zu plaudern.<br />
<br />
Bei dem nationalen Wettbewerb für Software-Produkte habe ich mit diesem
Spiel den II. Platz erhalten.

{% if include.summary == false %}
  <br />
  <br />
  <i>Anmerkung</i>:
</p>
<p style='padding-left:10px;'>
  Wegen Windows-Abwärtskompatibilitäts-Problemen kann das Spiel unter Windows
  2000 nicht gespielt werden. Unter Windows XP muss Windows-98-Kompatibilität
  eingeschaltet werden (Rechtsklick auf das Icon des Programms, Eigenschaften,
  Kompatibilität).
{% endif %}
