<table width='100%' align='center' cellspacing='10px' cellpadding='0' border='0'>

<tr>
  <td class='mezo_nev' style='text-align:center'>
    <a href='http://pocketnotes.sinkovics.hu'>
      <img src='/images/pocketnotes/elokep.png' alt='' width='180px' height='240px' border='0' />
    </a>
  </td>
  <td class='mezo_ertek' style='padding-top: 5px;'><p
    style='text-align:center; font-weight:bold; font-size:20px; padding:0px; margin:0px;'>
      PocketNotes
    </p>
    <p>
      <b>Neueste Version: 0.4</b>
    </p>
    <p>
      Mit diesem Programm kann ein PDA als ein Notizbuch werwendet werden.
      Ein paar Merkmale:
    </p>
    <ul>
      <li>Stifte mit verschiedenen Breiten und Farben sind verfügbar</li>
      <li>Die wichtigen Details können markiert werden</li>
      <li>Verschiedene Papier-Arten sind verfügbar</li>
    </ul>
    <p style='text-align:right'>
      <a href='http://pocketnotes.sinkovics.hu'>Details</a><br />
      <a href='/download/PocketNotes_0.4.arm.CAB'>Herunterladen</a>
    </p>
  </td>
</tr>

</table>

<p>
Wenn Sie diese Programme von anderen Webseiten verfügbar machen möchten, geben
Sie bitte die Dateien dieser Webseite als die Ziele der Downloadlinks ein.
Danke.
</p>

<p>
  Ich habe die Programme mit
    <a href='http://www.microsoft.com/downloads/details.aspx?familyid=1DACDB3D-50D1-41B2-A107-FA75AE960856&amp;displaylang=en'>eMbedded Visual C++ 4.0</a>
  geschrieben.
  <a href='http://www.microsoft.com/downloads/details.aspx?familyid=5BB36F3E-5B3D-419A-9610-2FE53815AE3B&amp;displaylang=en'>Service Pack 3</a>
  und
    <a href='http://www.microsoft.com/downloads/details.aspx?FamilyId=9996B314-0364-4623-9EDE-0B5FBB133652&amp;displaylang=en'>Window Mobile 2003 SDK</a>
  müssen auch installiert werden.
</p>
