<p class='sima_alcim'><a href='http://boost.org/libs/metaparse'>Boost.Metaparse</a></p>
<table width='80%' align='center' border='0' cellspacing='0' cellpadding='5px'>
<tr>
  <td width='130px' style='text-align:center;vertical-align:top;'>&nbsp;</td>
  <td style='vertical-align:top'>
    C++-Template-Metaprogramm-Bibliothek, die unterstützt die Entwicklung von
    Parsers, die Strings zur Übersetzungszeit analysieren.
  </td>
</tr>
</table>

<br />

<p class='sima_alcim'><a href='http://metashell.org'>Metashell</a></p>
<table width='80%' align='center' border='0' cellspacing='0' cellpadding='5px'>
<tr>
  <td width='130px' style='text-align:center;vertical-align:top;'><a href='http://metashell.org'><img src='/images/metashell.png' width='130px' alt='' border='0' /></a></td>
  <td style='vertical-align:top'>
    REPL-Shell und interaktives Debugger für C++-Template-Metaprogramme.
  </td>
</tr>
</table>

<br />

<p class='sima_alcim'><a href='http://github.com/sabel83/mpllibs'>mpllibs - C++-Template-Metaprogram-Bibliotheken</a></p>
<table width='80%' align='center' border='0' cellspacing='0' cellpadding='5px'>
<tr>
  <td width='130px' style='text-align:center;vertical-align:top;'>&nbsp;</td>
  <td style='vertical-align:top'>
    C++-Template-Metaprogramm-Bibliotheken, die die Entwicklung von
    eingebetteten DSLs und Template-Metaprogramm-Modultests unterstützen.
  </td>
</tr>
</table>

<br />

<p class='sima_alcim'><a href='http://pocketnotes.sinkovics.hu'>PocketNotes - Notizbuch-Software</a></p>
<table width='80%' align='center' border='0' cellspacing='0' cellpadding='5px'>
<tr>
  <td width='130px' style='text-align:center;vertical-align:top;'><a href='http://pocketnotes.sinkovics.hu'><img src='/images/pocketnotes/pocketnotes.png' alt='' border='0' /></a></td>
  <td style='vertical-align:top'>
    Eine Notizbuch-Software für eingebettete Systeme (PDAs).
    <a href='http://pocketnotes.sinkovics.hu'>Hier</a> finden Sie weitere
    Details und <a href='/download/PocketNotes_0.4.arm.CAB'>hier</a> können Sie es herunterladen.
  </td>
</tr>
</table>

<br />

{% include references.html lang="de" %}
