<head>
  <meta http-equiv="Content-Language" content="en" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
  <title>Website of Ábel Sinkovics</title>

  <script src="/script/jquery-3.2.1.min.js"></script>
  <script src="/script/js.cookie.js"></script>

  <script src="/script/menu.js"></script>
  <script src="/script/compatibility.js"></script>
  <script src="/script/cal.js"></script>
  <script src="/script/fold.js"></script>

  <script type="text/javascript"><!--
    redirect_old_urls()

    {% include lang.js %}
  --></script>

  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
